<mat-drawer-container *ngIf="file" class="file-info-container">
    <mat-drawer-content class="file-information-main">
        <div class="file-action-container">
            <button class="controls" mat-raised-button color="primary" (click)="downloadFile()">Download</button>
            <button class="controls" mat-raised-button type="file" (click)="updateFile()" [disabled]="!(permission=='owner' || permission=='write')">Update</button>
            <button class="controls" mat-raised-button color="primary" (click)="shareFile()" [disabled]="!(permission=='owner')">Share</button>
            <mat-form-field appearance="fill"  class="controls">
                <mat-label  >Versions</mat-label >
                <mat-select value="4" >
                    <mat-option value="4">04/10/2020</mat-option>
                    <mat-option value="3">03/10/2020</mat-option>
                    <mat-option value="2">02/10/2020</mat-option>
                    <mat-option value="1">01/10/2020</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="controls" mat-raised-button color="warn" (click)="deleteFile()"  [disabled]="!(permission=='owner')">Delete</button>
        </div>
        <h1>File: {{file.fileName}}</h1>
        <h2>Path: {{file.path}}</h2>

        <h2>Status</h2>
        <p>{{file.status}}</p>

        <h2>Version</h2>
        <p>{{file.version}}</p>

        <h2>Date of Creation</h2>
        <p>{{dateOfCreation}}</p>

        <h2>Owner</h2>
        <p>{{file.owner.email}}</p>

        <h2>Shared With</h2>
        <p *ngFor="let user of file.sharedWith">{{user.email}}</p>
        <p *ngIf="!file.sharedWith.length">File has not been shared with anyone.</p>


    </mat-drawer-content>
    <mat-drawer mode="side" position="end" class="file-comments-bar" opened>
        <div class="file-comments-content">
            <h1>Verification</h1>

            <mat-form-field class="select-verification">
                <mat-label>Verification Status</mat-label>
                <mat-select   [(value)]="statusString" [disabled]="!(permission=='write')">
                    <mat-option value="not available">Does not apply</mat-option>
                    <mat-option value="pending">Pending Verification</mat-option>
                    <mat-option value="verified">Verified</mat-option>
                    <mat-option value="rejected">Rejected</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="verifyFile()" [disabled]="!(permission=='write')">Verify</button>

            <h1>Comments</h1>

            <div class="comments-container">

                <div class="create-comment-div">
                    <mat-form-field class="comment-input">
                        <textarea matInput placeholder="Leave a comment here"></textarea>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>

                <div *ngFor="let comment of file.comments" class="messageBox">
                    <mat-card class="messageBox-card">
                        <p class="comment-author">{{comment.author}}</p>
                        <p>{{comment.comment}}</p>
                    </mat-card>
                    <p class="comment-date">{{comment.date}}</p>
                </div>
            </div>

        </div>
    </mat-drawer>
</mat-drawer-container>