<mat-drawer-container *ngIf="file" class="file-info-container" id="file-info-container">
    <mat-drawer-content class="file-information-main">
        <div class="file-action-container">
            <button class="controls" mat-raised-button color="primary" (click)="downloadFile()">Download</button>
            <button class="controls" mat-raised-button type="file" (click)="updateFile()" [disabled]="!(permission=='owner' || permission=='write')">Update</button>
            <button class="controls" mat-raised-button color="primary" (click)="shareFile()" [disabled]="!(permission=='owner')">Share</button>
            <mat-form-field appearance="fill"  class="controls">
                <mat-label>Versions</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="versions" (selectionChange)="selectVersion($event)">
                    <mat-option *ngFor="let ver of versions" [value]="ver.id">
                     {{ver.versionWithNumber}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="controls" mat-raised-button color="warn" (click)="openDeleteDialog()"  [disabled]="!(permission=='owner')">Delete</button>
        </div>
        <h1>File: {{file.fileName}}</h1>
        <h2>Path: {{file.path}}</h2>

        <h2>Status</h2>
        <p>{{file.status}}</p>

        <h2>Version</h2>
        <p>{{file.version}}</p>

        <h2>Date of Creation</h2>
        <p>{{dateOfCreation}}</p>

        <h2>Owner</h2>
        <p>{{file.owner.email}}</p>

        <h2>Shared With</h2>
        <p *ngFor="let user of file.sharedWith">{{user.email}}</p>
        <p *ngIf="!file.sharedWith.length">File has not been shared with anyone.</p>


    </mat-drawer-content>
    <mat-drawer mode="side" position="end" class="file-comments-bar" opened>
        <div class="file-comments-content">
            <h1>Verification</h1>

            <mat-form-field class="select-verification">
                <mat-label>Verification Status</mat-label>
                <mat-select   [(value)]="statusString" [disabled]="!(permission=='write' && file.requiresVerification)">
                    <mat-option value="not available">Does not apply</mat-option>
                    <mat-option value="pending">Pending Verification</mat-option>
                    <mat-option value="verified">Verified</mat-option>
                    <mat-option value="rejected">Rejected</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" style="width: 90%;" (click)="verifyFile()" [disabled]="!(permission=='write' && file.requiresVerification)">Verify</button>

            <h1>Comments</h1>

            <div class="comments-container">

                <div class="create-comment-div">
                    <mat-form-field class="comment-input">
                        <textarea matInput placeholder="Leave a comment here" [(ngModel)]="commentInput" (keyup.enter)="writeComment()"></textarea>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" [disabled]= '!commentInput' (click)="writeComment()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>

                <div *ngFor="let comment of comments" class="messageBox">

                    <span *ngIf="comment.type!='comment'" class="versionMessage">Version Change: {{comment.body}}</span>

                    <mat-card class="messageBox-card" *ngIf="comment.type=='comment'" [class.ownMessage]="comment.senderId==userId">
                        <mat-icon style="float: right; font-weight: 900; font-size: large; cursor: pointer;" *ngIf="userId==comment.senderId && comment.body!='comment deleted'" (click)="deleteComment(comment)">clear</mat-icon>
                        <p class="comment-author">{{comment.senderEmail}}</p>
                        <p>{{comment.body}}</p>
                    </mat-card>
                    <p class="comment-date" *ngIf="comment.type=='comment'">{{comment.date | date:'dd/MM/yyyy hh:mm' }}</p>

                </div>


            </div>

        </div>
    </mat-drawer>
</mat-drawer-container>