<mat-drawer-container class="pending-files-container">

    <mat-drawer mode="side" opened class="sidebar-drawer">
      <!-- Drawer content -->
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="pending-files-main-container">
      <h1>
        Shared with me
      </h1>
      <div *ngIf="inProgress" style="width: 100%; display: flex; align-items: center; flex-direction: column;">
        <h1>Loading</h1>
        <mat-spinner></mat-spinner>
      </div>
      <app-grid-list *ngIf="!inProgress" [folders]="folders" [files]="files" (onFolderClick)="goToFolderPath($event)"></app-grid-list>
      <!-- Main content -->
    </mat-drawer-content>
  </mat-drawer-container>