<div class="grid">
  <mat-list>

    <div *ngFor="let folder of folders" class="border xs-100 md-50 lg-33 item-grid">
      <!-- (contextmenu)="onContextMenu($event, folder)" -->
      <mat-list-item style="cursor: pointer;" class="border container-info" (click)="clickOnFolder(folder)">
        <mat-icon matListIcon class="border">folder</mat-icon>
        <div class="info-section">
          <h4 matLine class="border">{{folder.fileName}}</h4>
          <p matLine class="demo-2 border"> {{folder.dateOfCreation | date}} </p> 
        </div>

      </mat-list-item>
    </div>

    <div *ngFor="let file of files" class="border xs-100 md-50 lg-33 item-grid">
      <mat-list-item style="cursor: pointer;" (contextmenu)="onContextMenu($event, file)" class="border container-info" (click)="clickOnFile(file)">
        <mat-icon matListIcon class="border">insert_drive_file</mat-icon>
        <div class="info-section">
          <h4 matLine class="border">{{file.fileName}}</h4>
          <p matLine class="demo-2 border"> {{file.dateOfCreation | date}} </p> 
        </div>

      </mat-list-item>
    </div>


  </mat-list>
</div>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="downloadFile(item)">Download</button>
    <button mat-menu-item (click)="goToFileInfo(item._id)">More information</button>
    <button mat-menu-item (click)="shareFile(item)">Share</button>
  </ng-template>
</mat-menu>
