<div class="nContainer">
  
  <div class="bContainer">
    <button mat-mini-fab color="warn" (click)="onClose()">X</button>
  </div>
  
  <h1 mat-dialog-title>Hi {{data.name}}</h1>
  <p mat-dialog-title>These are your notifications</p>
  <div mat-dialog-content>
    <mat-form-field>
  
      <div *ngFor="let notification of data.notifications">
        <mat-card>
          <p><strong>{{notification.emiterEmail}}</strong></p>
          <mat-card-subtitle>{{notification.message}}</mat-card-subtitle>
          <mat-card-content>{{notification.fileName}}</mat-card-content>
          <mat-card-subtitle>{{notification.date.toLocaleString()}}</mat-card-subtitle>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </mat-form-field>
  </div>
</div>


