<div class="settings-container">
    <h1>Settings</h1>

    <h2>My Profile</h2>
    <div class="profileInfoContainer">
        <div class="dummyImage">
            <img src="{{image}}" alt="">
        </div>
        <div class="userInfo">
            <input type="text" [(ngModel)]="name" [disabled]="!editableName" class="profile-name">
            <!-- <p [(ngModel)]="email">is716122@iteso.mx</p> -->
            <!-- <p [(ngModel)]="email">{{}}</p> -->
            <p >{{email}}</p>
            <!-- <p [(ngModel)]="joined" class="member-since">Member since 10/13/2020</p> -->
            <p class="member-since">{{joined}}</p>
        </div>
        <button (click)="toggleEditableName()">{{editableName? "Save": "Edit name"}}</button>
    </div>
    <p *ngIf="nameError" class="error name-error">Error. Cannot leave name field empty</p>

    <h2>Themes</h2>
    <div class="app-theme-toggle">
        <mat-slide-toggle [(ngModel)]="darkMode">Dark Mode</mat-slide-toggle>
    </div>

    <h2>Change Password</h2>

    <div class="change-password-container">
        <form [formGroup]="passwordForm" (submit)="changePassword()" *ngIf="showForm">
            <!-- <div class="group">
                <label [ngClass]="{shrink: passwordForm.value.current}" class="form-input-label">Current
                    password</label>
                <input type="password" class="form-input" name="currentPassword" formControlName="current">
            </div>

            <div class="group">
                <label [ngClass]="{shrink: passwordForm.value.new}" class="form-input-label">New password</label>
                <input type="password" class="form-input" name="newPassword" formControlName="new">
            </div>

            <div class="group">
                <label [ngClass]="{shrink: passwordForm.value.confirm}" class="form-input-label">Password
                    confirmation</label>
                <input type="password" class="form-input" name="confirmNewPassword" formControlName="confirm">
            </div> -->


            <div class="">
                <mat-form-field appearance="standard">
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" class="form-input" name="currentPassword" formControlName="current">
                </mat-form-field>
            </div>

            <div class="">
                <mat-form-field appearance="standard" >
                    <mat-label>New password</mat-label>
                    <input matInput type="password" class="form-input" name="currentPassword" formControlName="new">
                </mat-form-field>
            </div>

            <div class="">
                <mat-form-field appearance="standard" >
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" class="form-input" name="currentPassword" formControlName="confirm">
                </mat-form-field>
            </div>

            <button>Change password</button>

        </form>

    </div>

</div>