<div class="grid">
  <div class="xs-100 md-50 lg-33 xl-25">
    <div class="file-item">
      <div class="file-image">
        <img src="https://i.pinimg.com/originals/7f/d2/e4/7fd2e46b2da9819e667fb75caf475cf7.png" alt="Document">
      </div>
      <div class="file-name">
        <h2 id="">Nombre del archivo</h2>
      </div>
      <!-- <div>
        <mat-menu #contextMenu="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="onContextMenuAction1(item)">Download</button>
            <button mat-menu-item (click)="onContextMenuAction2(item)">More information</button>
            <button mat-menu-item (click)="onContextMenuAction2(item)">Share</button>
          </ng-template>
        </mat-menu>
      </div> -->

    </div>
  </div>
</div>
