<div class="homePage">


  <div class="header">


    <div class="header-content">
      <!--<img src="../../../assets/img/logo-icon-transparent2.png" alt="">-->
      <h1>Cloud Drive</h1>
      <h3>The verification cloud</h3>
      <br>
      <button mat-raised-button color="accent">Get started!!</button>
    </div>

    <div class="astro">
      <img src="../../../assets/img/astroBoy.png" alt="">
    </div>

  </div>

  <div class="gradient">
    <p>Cloud Storage made easy</p>
  </div>

</div>
