.pending-files-container {
  width: 100%;
  height: calc( 100vh - 64px );
}

h1 {
  font-size: 30px;
  margin: 25px;
}

.sidebar-drawer {
  width: 15%;
}

.pending-files-main-container {
  width: 85%;
}